<html>
<head>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app='app'>
	<div ng-controller='PostsCtrl' class='container'>
		<h1>Nuevo Paciente</h1>
		<form role='form'>
			<div class="form-group">
				<div class="input-group">
					Nombre: 
					<input ng-model='name' type="text" class='form-control' />
					Apellido Paterno: 
					<input ng-model='p_lastname' type="text" class='form-control' />
					Apellido Materno: 
					<input ng-model='m_lastname' type="text" class='form-control' />
					Recidencia: 
					<input ng-model='recidency' type="text" class='form-control' />
					< /br>
					<span class="input-group-btn">
						<button ng-click='addPost()' class='btn btn-default'>Add Post</button>
					</span>
				</div>
			</div>
		</form>
		<ul class='list-group'>
			<li ng-repeat='post in posts' class='list-group-item'>
				<strong>@{{post.username}}</strong>
				<span>{{post.body}}</span>
			</li>
		</ul>
	</div>
	<script src='/angular/angular.js'></script>
	<script src='/app.js'></script>
</body>
</html>